<!-- Banner	 -->
<section class="section-content">
	<div class="swiper mySwiper" x-data="list('/ajax/top/year', true, 4)">
		<div class="swiper-wrapper">
			<template x-for="post in data">
			<div class="swiper-slide">
				<a :href="post.url">
					<div class="banner-image">
						<img :src="post.thumbnail_file_url || '{{ link_asset('images/default.png') }}'" alt="Slide">
					</div>

					<div class="banner-information">
						<h1 class="banner-title" x-text="post.title"></h1>
						<p>By <span class="banner-author">Olumide Ogunjobi</span>  | <span class="banner-date" x-text="post.created_at"></span> </p>
					</div>
				</a>
			</div>
			</template>
		</div>
		<div class="swiper-pagination"></div>
	</div>
</section>
<!-- End Banner -->