{% extends 'layouts/default.html' %}

{% block content %}
<!-- Main Content -->

	<section class="section-container">

		<!-- Breadcrumb -->
		{% include 'components/breadcrumb.html' with { page:'Tag' , title: websiteTag.name} %}
		<!-- End Breadcrumb -->

		<!--  Content 4	 -->
		<section class="section-content">

			{% include 'components/section_heading.html' with { title: websiteTag.name } %}

			{% include 'components/section_post_7.html' with { id: websiteTag.id } %}

			{% set count = listData.getResourcesCount() %}

			<div>

				{% include 'components/pagination_tailwind.html' with { count: count } %}

			</div>
		</section>
		<!-- End Content 4 -->

	</section>

<!-- End Main Content -->
{% endblock %}