@import "tailwindcss/base.css";
@import "tailwindcss/components.css";
@import "tailwindcss/utilities.css";
body {
  @apply mx-auto dark:bg-secondary dark:text-primary lg:px-1;
  font-family: "Lexend";
}

@layer utilities {
  .text-xs-12 {
    font-size: 0.75rem;
  }
}
.section-container {
  @apply max-w-8xl mx-auto mb-10 mt-0 lg:mt-16 xl:mt-24 xl:px-0;
}
.section-content {
  @apply max-w-8xl mx-auto px-4 md:px-2;
}
.section-title {
  @apply text-secondary dark:text-primary my-6 text-lg font-semibold md:text-3xl lg:my-16  xl:text-4xl;
}
.section-title-1 {
  @apply text-secondary dark:text-primary my-6 text-lg font-semibold lg:my-16 lg:text-3xl xl:text-4xl;
}

.logo-text {
  @apply text-secondary dark:text-primary text-nowrap text-sm font-semibold lg:text-xl xl:text-2xl;
}

.btn-view-more {
  @apply text-secondary border-secondary hover:bg-secondary hover:text-primary dark:text-primary dark:border-primary dark:hover:text-secondary dark:hover:bg-primary m-auto rounded-md border-2 px-4 py-2 text-sm;
}

.btn_to_top {
  @apply bg-secondary dark:bg-primary dark:text-secondary dark:hover:bg-quinary hover:bg-quinary fixed bottom-10 right-10 z-50 h-14 w-14 rounded-full border-0 p-4 text-lg font-semibold text-white shadow-md transition-colors duration-300 hover:animate-bounce;
}

.max-w-8xl {
  max-width: 88rem;
}

header {
  @apply max-w-8xl fixed left-0 right-0 top-0 z-50 mx-auto self-start;
}

.navbar-container {
  @apply bg-primary dark:bg-secondary relative bottom-[calc(100vh-theme(spacing.16))] left-0 right-0 top-0 flex justify-between px-2 py-4;
}
.navbar-logo {
  @apply max-h-[30px] max-w-[71px] lg:max-h-[66px] lg:max-w-[158px] xl:max-h-[75px] xl:max-w-[180px];
}
.navbar-logo img {
  @apply h-full w-full object-cover;
}
.navbar-menu {
  @apply hidden items-center gap-8 lg:flex;
}
.navbar-menu-item {
  @apply text-base font-medium;
}
.navbar-menu-button {
  @apply hover:text-quinary flex items-center gap-2;
}
.navbar-menu-icon {
  @apply h-6 w-6;
}
.navbar-dropdown {
  @apply bg-primary dark:bg-octonary absolute top-10 z-30 w-full gap-4 rounded-md py-2 shadow-lg lg:flex lg:w-36 dark:border-0 dark:shadow-none;
}
.navbar-dropdown-search {
  @apply bg-primary border-senary dark:bg-octonary static z-30 mt-4 flex w-full gap-2 rounded-lg border-2 px-1 lg:absolute lg:right-16 lg:top-12 lg:h-[32px] lg:w-[264px] dark:border-0;
}
.navbar-dropdown-search-icon {
  @apply text-senary my-auto size-6 cursor-pointer;
}
.navbar-dropdown-search form {
  @apply flex w-full;
}
.navbar-dropdown-search input {
  @apply text-senary dark:bg-octonary dark:text-septenary w-full border-none px-2  text-xs outline-none ring-0;
}
.navbar-dropdown li {
  @apply hover:text-quinary;
}
.navbar-dropdown a {
  @apply px-4 pb-2 text-xs font-light;
}
.navbar-mobile-menu {
  @apply inline-flex items-center justify-center lg:hidden;
}
.navbar-mobile-menu-icon {
  @apply text-secondary dark:text-primary size-6;
}
.navbar-mobile-menu-top {
  @apply mx-2 flex gap-4;
}
.navbar-mobile-menu-bottom {
  @apply text-secondary mx-2 mt-4 pb-4;
}
.navbar-mobile-menu-bottom-list {
  @apply flex flex-col gap-4;
}
.navbar-mobile-menu-bottom-toggle {
  @apply flex justify-between;
}
.navbar-mobile-menu-bottom-link {
  @apply hover:text-quinary dark:text-primary text-base font-medium;
}
.navbar-mobile-menu-bottom-submenu {
  @apply dark:text-primary dark:bg-octonary mt-4 flex flex-col gap-2 rounded-md border px-4 py-2 shadow-lg dark:border-0;
}
.navbar-mobile-menu-bottom-submenu li {
  @apply dark:text-primary hover:text-quinary text-sm font-thin;
}
.navbar-mobile-icon {
  @apply text-secondary dark:text-primary my-auto size-4 md:size-5;
}

#mobile-menu {
  @apply bg-primary dark:bg-secondary h-screen px-1 lg:hidden;
}

footer {
  @apply bg-nonary dark:bg-tertiary mt-10 py-2 lg:mt-20 lg:py-4;
}

.footer-container {
  @apply max-w-8xl mx-auto my-8 px-4 lg:px-6 xl:px-4;
}
.footer-top {
  @apply flex items-center justify-between;
}
.footer-bottom {
  @apply mt-4 flex flex-col justify-normal md:flex-row md:flex-wrap md:justify-evenly lg:gap-4;
}
.footer-bottom-item div {
  @apply flex items-center justify-between;
}
.footer-bottom-item h3 {
  @apply text-secondary dark:text-primary my-1 text-lg font-semibold xl:text-2xl;
}
.footer-bottom-item ul {
  @apply flex flex-col lg:gap-2;
}
.footer-bottom-item li {
  @apply text-secondary dark:text-primary text-base font-thin hover:underline;
}
.footer-logo {
  @apply max-h-[40px] max-w-[94px] lg:max-h-[88px] lg:max-w-[208px] xl:max-h-[144px] xl:max-w-[270px];
}
.footer-logo img {
  @apply h-full w-full object-cover;
}
.footer-social {
  @apply my-auto flex gap-4;
}
.footer-social-icon {
  @apply text-secondary dark:text-primary size-6;
}

.banner-image {
  @apply h-[218px] max-h-[218px] shrink-0 rounded-lg object-cover md:w-[329px] md:max-w-[329px] lg:h-[244px] lg:max-h-[244px] lg:w-[429px] lg:max-w-[429px] xl:h-[317px] xl:max-h-[317px] xl:w-[560px] xl:max-w-[560px];
}
.banner-image img {
  @apply h-full w-full rounded-lg object-cover;
}
.banner-information {
  @apply flex flex-col justify-between space-y-6 py-1 md:py-2 md:space-y-0 lg:py-4;
}
.banner-information p {
  @apply text-denary dark:text-quaternary text-lg;
}
.banner-title {
  @apply dark:text-primary line-clamp-4 text-xl font-semibold md:py-1 lg:text-4xl xl:text-5xl;
}
.banner-author {
  @apply dark:underline;
}

.card-container {
  @apply grid h-[735px] max-h-[735px] grid-cols-1 gap-4 lg:h-[375px] lg:max-h-[375px] lg:grid-cols-2 xl:h-[485px] xl:max-h-[485px];
}
.card-container-1 {
  @apply grid grid-cols-2 gap-4;
}
.card-container-2 {
  @apply grid grid-cols-1 gap-3 space-y-2 md:grid-cols-3 md:space-y-0 lg:gap-4;
}
.card-container-3 {
  @apply grid grid-cols-1 gap-10 md:grid-cols-2 xl:gap-28;
}
.card-container-4 {
  @apply grid grid-cols-1 gap-10 md:h-[250px] md:max-h-[250px] md:grid-cols-2 lg:h-[300px] lg:max-h-[300px] xl:h-[350px] xl:max-h-[350px] xl:gap-28;
}
.card-container-5 {
  @apply grid h-[540px] grid-cols-1 space-y-4 lg:h-[484px] lg:grid-cols-3 lg:gap-7 lg:space-y-0 xl:h-[622px];
}
.card-container-6 {
  @apply grid h-[200px] grid-cols-2 gap-2 lg:h-[484px] lg:grid-cols-1 lg:gap-6 xl:h-[622px] xl:gap-7;
}
.card-container-7 {
  @apply grid grid-cols-1 gap-14 lg:grid-cols-2 lg:gap-10 xl:gap-28;
}
.card-container-8 {
  @apply grid h-[1935px] max-h-[1935px] grid-cols-1 gap-7 lg:h-[629px] lg:max-h-[629px] lg:grid-cols-2 xl:max-h-[848px];
}
.card-container-9 {
  @apply space-y-4 xl:space-y-8;
}
.card-container-10 {
  @apply grid grid-cols-1 gap-4 md:grid-cols-3;
}
.card-container-11 {
  @apply grid grid-cols-1 gap-8 md:grid-cols-2;
}
.card-wrapper {
  @apply relative isolate flex h-auto flex-col justify-end overflow-hidden rounded-2xl px-8 pb-7;
}
.card-wrapper-1 {
  @apply relative isolate flex h-auto flex-col justify-end overflow-hidden rounded-2xl px-5 pb-3;
}
.card-wrapper-2 {
  @apply hover:bg-eleven h-fit rounded-md p-2 lg:p-4 dark:hover:bg-none;
}
.card-wrapper-3 {
  @apply flex items-center gap-6 px-4 md:justify-center;
}
.card-wrapper-4 {
  @apply relative isolate h-auto overflow-hidden rounded-2xl px-5 pb-3;
}
.card-wrapper-5 {
  @apply relative isolate flex h-auto max-h-[160px] flex-col justify-end overflow-hidden rounded-2xl px-5 pb-3 lg:h-[227px] lg:max-h-[227px] xl:h-[296px] xl:max-h-[296px];
}
.card-wrapper-6 {
  @apply flex gap-6 lg:justify-center;
}
.card-wrapper-7 {
  @apply bg-nonary dark:bg-fourteen flex max-h-[85px] rounded-md lg:max-h-[261px] lg:flex-col xl:max-h-[350px];
}
.card-wrapper-8 {
  @apply relative isolate flex h-[358px] flex-col justify-end overflow-hidden rounded-2xl px-8 pb-7 lg:h-auto lg:max-h-[484px] xl:h-[622px] xl:max-h-[622px];
}
.card-wrapper-9 {
  @apply relative isolate flex h-[310px] flex-col justify-end overflow-hidden rounded-2xl px-5 pb-3 lg:h-auto lg:max-h-[191px] xl:max-h-[268px];
}
.card-linear {
  @apply absolute inset-0 bg-gradient-to-t from-gray-900 via-gray-900/20;
}
.card-image {
  @apply absolute inset-0 h-full w-full object-cover;
}
.card-image-1 {
  @apply h-[230px] max-h-[230px] w-full rounded-xl object-cover lg:h-[166px] lg:max-h-[166px] xl:h-[216px] xl:max-h-[216px];
}
.card-image-2 {
  @apply h-[117px] max-h-[117px] w-full max-w-[137px] rounded-md object-cover md:h-[114px] md:max-h-[114px] md:max-w-[127px] xl:h-[147px] xl:max-h-[147px] xl:max-w-[166px];
}
.card-image-3 {
  @apply relative h-[245px] max-h-[245px] w-full rounded-xl object-cover drop-shadow-md md:h-[202px] md:max-h-[202px] lg:h-[282px] lg:max-h-[282px] xl:h-[330px] xl:max-h-[330px];
}
.card-image-4 {
  @apply h-[102px] max-h-[102px] w-full  max-w-[123px] shrink-0 rounded-xl object-cover lg:h-[92px] lg:max-h-[92px] lg:w-[111px] lg:max-w-[111px] xl:h-[120px] xl:max-h-[120px] xl:w-[162px] xl:max-w-[162px];
}
.card-image-5 {
  @apply h-[85px] max-h-[85px] w-full max-w-[123px] overflow-hidden rounded-l-xl object-cover lg:h-[178px] lg:max-h-[178px] lg:max-w-full lg:rounded-l-none lg:rounded-t-xl xl:h-[250px] xl:max-h-[250px];
}
.card-image-shadow {
  @apply absolute right-8 top-6 h-[226px] max-h-[260px] w-5/6 scale-105 rounded-xl object-cover blur-sm md:h-[180px] md:max-h-[250px] md:w-3/4 lg:h-[260px] lg:max-h-[300px] lg:w-4/5 xl:h-[312px] xl:max-h-[350px] xl:w-5/6;
}
.card-content {
  @apply mt-3 space-y-2 lg:mt-4 lg:space-y-5;
}
.card-content-1 {
  @apply relative inline-block items-center justify-center overflow-hidden px-8;
}
.card-content-2 {
  @apply flex flex-col xl:gap-2;
}
.card-content-3 {
  @apply flex flex-col justify-center gap-2 px-5 lg:mt-6 lg:pb-5;
}
.card-title {
  @apply text-primary z-10 line-clamp-3 text-base font-semibold hover:underline lg:text-2xl xl:text-3xl;
}
.card-title-1 {
  @apply text-primary z-10 line-clamp-2 font-semibold hover:underline lg:text-sm xl:text-xl;
}
.card-title-2 {
  @apply text-secondary dark:text-primary line-clamp-2 flex-1 text-base font-semibold hover:underline lg:text-lg xl:text-2xl;
}
.card-title-3 {
  @apply text-secondary dark:text-primary line-clamp-2 text-2xl font-medium hover:underline;
}
.card-title-4 {
  @apply text-secondary dark:text-primary text-4xl font-semibold;
}
.card-title-5 {
  @apply lg:text-xs-12 text-secondary dark:text-primary line-clamp-2 flex-1 text-sm font-semibold xl:text-base;
}
.card-title-6 {
  @apply text-secondary dark:text-primary text-base font-semibold hover:underline lg:text-2xl xl:text-3xl;
}
.card-title-7 {
  @apply text-primary z-10 line-clamp-2 text-xs font-semibold hover:underline lg:text-base xl:line-clamp-3 xl:text-2xl;
}
.card-description {
  @apply text-secondary dark:text-primary mt-3 line-clamp-2 text-sm font-normal;
}
.card-description-1 {
  @apply text-secondary dark:text-primary text-base font-normal;
}
.card-description-2 {
  @apply text-secondary dark:text-primary my-1 line-clamp-2 text-sm font-normal;
}
.card-description-3 {
  @apply text-thirteen dark:text-twelve text-base font-normal;
}
.card-info {
  @apply text-denary dark:text-twelve z-10 flex flex-wrap gap-2 text-sm;
}
.card-info-1 {
  @apply text-twelve dark:text-twelve z-10 mt-4 flex flex-wrap items-center gap-2 text-sm;
}
.card-info-2 {
  @apply flex flex-col justify-between;
}
.card-info-3 {
  @apply text-twelve dark:text-twelve z-10 mt-1 flex flex-wrap items-center gap-2 text-xs lg:mt-4 lg:text-xs xl:text-sm;
}
.card-author {
  @apply text-sm font-semibold underline;
}
.card-author-1 {
  @apply font-semibold underline;
}
.card-date {
  @apply text-sm font-normal;
}
.card-date-icon {
  @apply size-4;
}
.card-date-1 {
  @apply text-xs-12 text-denary dark:text-twelve flex items-center gap-2;
}
.card-date-2 {
  @apply font-normal;
}
.card-avatar {
  @apply size-3 rounded-full lg:size-5 xl:size-6;
}
.card-social-container {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:max-w-md lg:grid-cols-2 gap-4;
}
.card-social-wrapper {
  @apply rounded-xl border  px-2 py-4;
}
.card-social-wrapper a {
  @apply text-xs-12 flex items-center gap-4;
}
.card-social-icon {
  @apply size-10;
}
.card-social-infor {
  @apply flex flex-col gap-1;
}
.card-social-name {
  @apply text-xs-12 font-semibold;
}
.card-social-description {
  @apply text-xs-12 font-light;
}

.breadcrumb-container {
  @apply px-4 md:px-2;
}
.breadcrumb-container ol {
  @apply mt-16 flex flex-wrap lg:mt-0;
}
.breadcrumb-container ol li {
  @apply text-secondary after:text-secondary dark:text-primary dark:after:text-primary text-sm font-normal after:mx-2 after:content-[">"] after:last:content-none;
}

.post-container {
  @apply mt-10 grid grid-cols-1 gap-10 lg:mt-20 lg:grid-cols-3 lg:gap-20;
}
.post-wrapper {
  @apply col-span-2;
}
.post-wrapper-1 {
  @apply flex flex-col gap-10 lg:sticky lg:top-28 lg:self-start lg:ease-in-out;
}
.post-title {
  @apply text-secondary dark:text-primary text-xl font-semibold lg:text-3xl xl:text-4xl;
}
.post-title-1 {
  @apply text-secondary dark:text-primary text-lg font-medium lg:text-xl xl:text-2xl;
}
.post-title-2 {
  @apply text-secondary dark:text-primary mb-6 text-lg font-medium lg:text-2xl xl:text-3xl;
}
.post-info {
  @apply text-thirteen dark:text-twelve mt-10 flex flex-wrap items-center gap-2 font-normal xl:text-xl;
}
.post-avatar {
  @apply size-9 rounded-full;
}
.post-content {
  @apply mt-10 md:mt-12;
}
.post-content-wrapper {
  @apply flex flex-col gap-4 md:mt-2;
}
.post-content-wrapper p {
  @apply text-secondary dark:text-primary text-sm font-normal xl:text-base;
}
.post-content-wrapper h1 {
  @apply text-secondary dark:text-primary my-3 text-lg font-semibold lg:text-2xl;
}
.post-content-wrapper h2 {
  @apply text-secondary dark:text-primary text-base font-medium xl:text-lg;
}
.post-content-wrapper h3 {
  @apply text-secondary dark:text-primary text-base font-medium lg:text-lg;
}
.post-content-wrapper h4 {
  @apply text-secondary dark:text-primary text-base font-medium lg:text-lg;
}
.post-content-wrapper h5 {
  @apply text-secondary dark:text-primary text-base font-medium lg:text-lg;
}
.post-content-wrapper blockquote {
  @apply text-secondary dark:text-primary border-quinary bg-twelve dark:bg-thirteen rounded border-l-4 py-2 pl-4 pr-2 text-sm font-normal italic md:py-4 lg:text-base;
}
.post-image {
  @apply mx-auto h-full max-h-[425px] w-full overflow-hidden rounded-lg object-cover;
}
.post-social-container {
  @apply my-6 flex flex-wrap gap-4;
}
.post-social-icon {
  @apply text-thirteen dark:text-quaternary size-6;
}
.post-like-container {
  @apply flex items-center gap-2;
}
.post-like-icon {
  @apply text-secondary dark:text-primary size-8;
}
.post-like-text {
  @apply text-thirteen dark:text-twelve text-base font-light;
}
.post-tag {
  @apply text-primary bg-senary rounded px-2 py-1 text-sm font-normal;
}

.pagination-container {
  @apply border-none  z-10 mx-auto mt-8 flex flex-col justify-center gap-4 border p-6 sm:flex-row sm:justify-between;
}
.pagination-navigation {
  @apply mx-auto flex content-center justify-center gap-6;
}
.pagination-button {
  @apply flex cursor-pointer items-center justify-center;
}
.pagination-icon {
  @apply h-6 w-6;
}
.pagination-icon-container {
  @apply text-secondary my-auto flex justify-center;
}
.pagination-input {
  @apply text-secondary flex content-center justify-center gap-4;
}
.pagination-item {
  @apply text-secondary hover:bg-quinary hover:text-primary dark:bg-primary dark:hover:bg-quinary dark:hover:text-primary flex h-6 w-6 cursor-pointer items-center justify-center rounded-full border p-4 font-medium;
}
.pagination-item-active {
  @apply bg-secondary text-primary dark:bg-senary dark:text-secondary;
}
.pagination-page_input {
  @apply h-6 w-14;
}
.pagination-info {
  @apply text-secondary my-auto hidden sm:block;
}

.error-container {
  @apply flex flex-col items-center justify-center h-fit;
}
.error-message {
  @apply text-4xl font-bold space-y-8;
}
.error-code {
  @apply text-6xl text-center;
}
.error-description {
  @apply text-xl text-center;
}
.error-button-to-home {
  @apply px-4 py-2 mt-4 rounded-lg;
}

.swiper {
  @apply h-full w-full;
}
.swiper-slide a {
  @apply mt-20 flex flex-col gap-6 px-1 pb-6 md:flex-row md:pb-12 md:pt-0 lg:mt-4 xl:mt-6;
}
.swiper-slide img {
  @apply block h-full w-full object-cover;
}
.swiper-pagination {
  @apply flex items-center justify-items-start md:justify-center;
}

.custom-bullet {
  @apply bg-septenary dark:bg-fifteen mx-1 inline-block h-[4px] w-[17px] rounded-full md:mx-2 md:h-[5px] md:w-[30px];
}
.custom-bullet-active {
  @apply bg-secondary dark:bg-quinary;
}

/*# sourceMappingURL=style.css.map */
