@import "tailwindcss/base.css";
@import "tailwindcss/components.css";
@import "tailwindcss/utilities.css";
body {
  @apply mx-auto px-4 dark:bg-secondary dark:text-primary lg:px-1;
  font-family: "Lexend";
}

@layer utilities {
  .text-xs-12 {
    font-size: 0.75rem;
  }
}
section {
  @apply mt-0 lg:mt-28 xl:mt-32;
}

.section-container {
  @apply max-w-8xl mx-auto mb-10 px-2 lg:my-20 xl:px-0;
}
.section-content {
  @apply max-w-8xl mx-auto mt-10 lg:mt-14;
}
.section-title {
  @apply text-lg lg:text-3xl xl:text-4xl text-secondary font-semibold my-8 dark:text-primary;
}
.section-title-1 {
  @apply text-lg lg:text-3xl xl:text-4xl text-secondary font-semibold mb-8 dark:text-primary;
}

.max-w-8xl {
  max-width: 88rem;
}

header {
  @apply max-w-8xl mx-auto fixed self-start  top-0 left-0 right-0 z-50;
}

.navbar-container {
  @apply flex bottom-[calc(100vh-theme(spacing.16))] left-0 right-0 top-0 justify-between py-4 px-2 relative bg-primary dark:bg-secondary;
}
.navbar-logo {
  @apply max-w-[71px] max-h-[30px] lg:max-w-[158px] lg:max-h-[66px] xl:max-w-[180px] xl:max-h-[75px];
}
.navbar-logo img {
  @apply w-full h-full object-cover;
}
.navbar-menu {
  @apply hidden lg:flex items-center gap-8;
}
.navbar-menu-item {
  @apply text-base font-medium;
}
.navbar-menu-button {
  @apply flex gap-2 items-center hover:text-quinary;
}
.navbar-menu-icon {
  @apply h-6 w-6;
}
.navbar-dropdown {
  @apply absolute bg-primary z-30 top-16 w-full rounded-md gap-4 lg:flex lg:w-36 py-2 shadow-lg dark:bg-octonary dark:border-0 dark:shadow-none;
}
.navbar-dropdown-search {
  @apply static flex w-full z-30 gap-2 mt-4 rounded-lg lg:absolute lg:w-[264px] lg:right-12 lg:top-20 lg:h-[32px] border-senary border-2 px-1 dark:border-0 dark:bg-octonary;
}
.navbar-dropdown-search-icon {
  @apply size-6 my-auto cursor-pointer text-senary;
}
.navbar-dropdown-search input {
  @apply w-full text-xs text-senary px-2 outline-0  dark:bg-octonary dark:text-septenary;
}
.navbar-dropdown li {
  @apply hover:text-quinary;
}
.navbar-dropdown a {
  @apply text-xs font-light px-4 pb-2;
}
.navbar-mobile-menu {
  @apply lg:hidden inline-flex items-center justify-center;
}
.navbar-mobile-menu-icon {
  @apply size-6 text-secondary dark:text-primary;
}
.navbar-mobile-menu-top {
  @apply flex mx-2 gap-4;
}
.navbar-mobile-menu-bottom {
  @apply mt-4 mx-2 pb-4 text-secondary;
}
.navbar-mobile-menu-bottom-list {
  @apply flex flex-col gap-4;
}
.navbar-mobile-menu-bottom-toggle {
  @apply flex justify-between;
}
.navbar-mobile-menu-bottom-link {
  @apply text-base font-medium hover:text-quinary dark:text-primary;
}
.navbar-mobile-menu-bottom-submenu {
  @apply flex flex-col gap-2 rounded-md shadow-lg px-4 py-2 border mt-4 dark:text-primary dark:border-0 dark:bg-octonary;
}
.navbar-mobile-menu-bottom-submenu li {
  @apply text-sm font-thin dark:text-primary hover:text-quinary;
}
.navbar-mobile-icon {
  @apply size-4 my-auto md:size-5 text-secondary dark:text-primary;
}

#mobile-menu {
  @apply lg:hidden px-1 bg-primary dark:bg-secondary;
}

footer {
  @apply bg-nonary py-2 mt-10 lg:mt-40 lg:py-4 dark:bg-tertiary;
}

.footer-container {
  @apply max-w-8xl mx-auto my-8 px-4 lg:px-6 xl:px-4;
}
.footer-top {
  @apply flex justify-between items-center;
}
.footer-bottom {
  @apply flex flex-col justify-normal mt-4 md:flex-row md:flex-wrap md:justify-between lg:gap-4;
}
.footer-bottom-item div {
  @apply flex justify-between items-center;
}
.footer-bottom-item h3 {
  @apply text-2xl font-semibold text-secondary dark:text-primary my-4;
}
.footer-bottom-item ul {
  @apply flex flex-col lg:gap-2;
}
.footer-bottom-item li {
  @apply text-base font-thin text-secondary hover:underline dark:text-primary;
}
.footer-logo {
  @apply max-w-[94px] max-h-[40px] lg:max-w-[208px] lg:max-h-[88px] xl:max-w-[270px] xl:max-h-[144px];
}
.footer-logo img {
  @apply w-full h-full object-cover;
}
.footer-social {
  @apply flex gap-4 my-auto;
}
.footer-social-icon {
  @apply size-6 text-secondary dark:text-primary;
}

.banner-image {
  @apply max-h-[218px] md:max-w-[329px] lg:max-w-[429px] lg:max-h-[244px]  xl:max-w-[560px] xl:max-h-[317px] object-cover overflow-hidden rounded-lg;
}
.banner-image img {
  @apply w-full h-full object-cover overflow-hidden rounded-lg;
}
.banner-information {
  @apply flex flex-col space-y-6 justify-between py-2 md:space-y-0 lg:py-4;
}
.banner-information p {
  @apply text-lg text-denary dark:text-quaternary;
}
.banner-title {
  @apply text-xl lg:text-4xl xl:text-5xl font-semibold dark:text-primary;
}
.banner-author {
  @apply dark:underline;
}

.content-container {
  @apply grid grid-cols-1 md:grid-cols-2 gap-4;
}

.card-container {
  @apply grid grid-cols-1 lg:grid-cols-2 gap-4 h-[735px] max-h-[735px] lg:h-[375px] lg:max-h-[375px] xl:h-[485px] xl:max-h-[485px];
}
.card-container-1 {
  @apply grid grid-cols-2 gap-4;
}
.card-container-2 {
  @apply grid grid-cols-1 md:grid-cols-3 gap-4;
}
.card-container-3 {
  @apply grid grid-cols-1 md:grid-cols-2 gap-10 xl:gap-28;
}
.card-container-4 {
  @apply grid grid-cols-1 md:grid-cols-2 gap-10 xl:gap-28;
}
.card-container-5 {
  @apply grid grid-cols-1 lg:grid-cols-3 space-y-6 lg:space-y-0 lg:gap-7 h-[504px] lg:h-[484px] xl:h-[622px];
}
.card-container-6 {
  @apply grid grid-cols-2 lg:grid-cols-1 gap-2 lg:gap-6 xl:gap-7 h-[131px] lg:h-[484px] xl:h-[622px];
}
.card-container-7 {
  @apply grid grid-cols-1 gap-14 lg:grid-cols-2 lg:gap-10 xl:gap-28;
}
.card-container-8 {
  @apply grid grid-cols-1 lg:grid-cols-2 gap-7 h-[1935px] max-h-[1935px] lg:h-[629px] lg:max-h-[629px] xl:h-[848px] xl:max-h-[848px];
}
.card-container-9 {
  @apply space-y-4 xl:space-y-8;
}
.card-container-10 {
  @apply grid grid-cols-1 md:grid-cols-3 gap-4;
}
.card-container-11 {
  @apply grid grid-cols-1 md:grid-cols-2 gap-8;
}
.card-wrapper {
  @apply relative isolate flex flex-col justify-end overflow-hidden rounded-2xl px-8 pb-7 h-auto;
}
.card-wrapper-1 {
  @apply relative isolate flex flex-col justify-end overflow-hidden rounded-2xl px-5 pb-3 h-auto;
}
.card-wrapper-2 {
  @apply p-4 rounded-md hover:bg-eleven dark:hover:bg-none;
}
.card-wrapper-3 {
  @apply flex gap-6 px-4 md:justify-center items-center;
}
.card-wrapper-4 {
  @apply relative isolate overflow-hidden rounded-2xl px-5 pb-3 h-auto;
}
.card-wrapper-5 {
  @apply relative isolate flex flex-col justify-end overflow-hidden rounded-2xl px-5 pb-3 h-auto max-h-[160px] lg:max-h-[227px] xl:max-h-[296px];
}
.card-wrapper-6 {
  @apply flex gap-6 lg:justify-center;
}
.card-wrapper-7 {
  @apply flex rounded-md bg-nonary dark:bg-fourteen lg:flex-col max-h-[85px] lg:max-h-[261px] xl:max-h-[350px];
}
.card-wrapper-8 {
  @apply relative isolate flex flex-col justify-end overflow-hidden rounded-2xl px-8 pb-7 h-[358px] lg:h-auto lg:max-h-[484px] xl:max-h-[622px];
}
.card-wrapper-9 {
  @apply relative isolate flex flex-col justify-end overflow-hidden rounded-2xl px-5 pb-3 h-[310px] lg:h-auto lg:max-h-[191px] xl:max-h-[268px];
}
.card-linear {
  @apply absolute inset-0 bg-gradient-to-t from-gray-900 via-gray-900/20;
}
.card-image {
  @apply absolute inset-0 h-full w-full object-cover;
}
.card-image-1 {
  @apply w-full h-full max-h-[230px] lg:max-h-[166px] xl:max-h-[216px] object-cover overflow-hidden rounded-xl;
}
.card-image-2 {
  @apply w-full h-full max-h-[117px] max-w-[137px] md:max-h-[114px] md:max-w-[127px] xl:max-h-[147px] xl:max-w-[166px] object-cover overflow-hidden rounded-md;
}
.card-image-3 {
  @apply w-full h-full max-h-[245px] md:max-h-[202px] xl:max-h-[282px] object-cover overflow-hidden rounded-xl;
}
.card-image-4 {
  @apply w-full h-full max-h-[102px] max-w-[123px] lg:max-h-[92px] lg:max-w-[111px] xl:max-h-[120px] xl:max-w-[162px] rounded-xl object-cover overflow-hidden;
}
.card-image-5 {
  @apply w-full h-full object-cover overflow-hidden rounded-l-xl max-w-[123px] max-h-[85px] lg:max-w-full lg:rounded-l-none lg:rounded-t-xl lg:max-h-[178px] xl:max-h-[250px];
}
.card-content {
  @apply space-y-5 mt-6;
}
.card-content-1 {
  @apply relative px-8 inline-block justify-center items-center overflow-hidden drop-shadow-lg;
}
.card-content-2 {
  @apply flex flex-col xl:gap-2;
}
.card-content-3 {
  @apply flex flex-col gap-2 justify-center lg:mt-6 lg:pb-5 px-5;
}
.card-title {
  @apply z-10 text-base lg:text-2xl xl:text-3xl text-primary font-semibold hover:underline;
}
.card-title-1 {
  @apply z-10 lg:text-sm xl:text-xl text-primary font-semibold line-clamp-2 hover:underline;
}
.card-title-2 {
  @apply text-base lg:text-lg xl:text-2xl text-secondary font-semibold line-clamp-2 hover:underline dark:text-primary;
}
.card-title-3 {
  @apply text-2xl text-secondary font-medium line-clamp-2 hover:underline dark:text-primary;
}
.card-title-4 {
  @apply text-4xl text-secondary font-semibold dark:text-primary;
}
.card-title-5 {
  @apply text-sm lg:text-xs-12 xl:text-sm line-clamp-2 text-secondary font-semibold dark:text-primary;
}
.card-title-6 {
  @apply text-base lg:text-2xl xl:text-3xl text-secondary font-semibold dark:text-primary hover:underline;
}
.card-title-7 {
  @apply z-10 text-xs lg:text-base xl:text-2xl text-primary font-semibold hover:underline;
}
.card-description {
  @apply text-sm text-secondary font-normal dark:text-primary line-clamp-2;
}
.card-description-1 {
  @apply text-base text-secondary font-normal dark:text-primary;
}
.card-description-2 {
  @apply text-xs font-normal text-secondary dark:text-primary;
}
.card-description-3 {
  @apply text-base text-thirteen font-normal dark:text-twelve;
}
.card-info {
  @apply z-10 flex flex-wrap items-center gap-2 text-sm text-denary dark:text-twelve;
}
.card-info-1 {
  @apply z-10 flex flex-wrap items-center mt-4 gap-2 text-sm text-twelve dark:text-eleven;
}
.card-info-2 {
  @apply flex flex-col justify-between;
}
.card-info-3 {
  @apply z-10 flex flex-wrap items-center gap-2 text-[5px] mt-1 lg:mt-4 lg:text-xs xl:text-sm text-twelve dark:text-eleven;
}
.card-author {
  @apply text-sm font-semibold underline;
}
.card-author-1 {
  @apply font-semibold underline;
}
.card-date {
  @apply text-sm font-normal;
}
.card-date-icon {
  @apply size-4;
}
.card-date-1 {
  @apply flex items-center text-xs gap-2 text-denary dark:text-twelve;
}
.card-date-2 {
  @apply font-normal;
}
.card-avatar {
  @apply size-3 lg:size-5 xl:size-6 rounded-full;
}
.card-social-container {
  @apply grid max-w-md grid-cols-2 gap-4;
}
.card-social-wrapper {
  @apply border py-4 px-2 rounded-xl;
}
.card-social-wrapper a {
  @apply flex items-center gap-4 text-xs-12;
}
.card-social-icon {
  @apply size-10;
}
.card-social-infor {
  @apply flex flex-col gap-1;
}
.card-social-name {
  @apply text-xs-12 font-semibold;
}
.card-social-description {
  @apply text-xs-12 font-light;
}

.breadcrumb-container ol {
  @apply flex flex-wrap mt-28;
}
.breadcrumb-container ol li {
  @apply text-secondary text-sm font-normal after:content-[">"] after:mx-2 after:text-secondary after:last:content-none;
}

.post-container {
  @apply grid grid-cols-1 lg:grid-cols-3 gap-10 mt-10 lg:mt-20 lg:gap-20;
}
.post-wrapper {
  @apply col-span-2;
}
.post-wrapper-1 {
  @apply flex flex-col gap-10 lg:ease-in-out lg:self-start lg:sticky lg:top-28;
}
.post-title {
  @apply text-xl lg:text-3xl xl:text-4xl font-semibold text-secondary dark:text-primary;
}
.post-title-1 {
  @apply text-lg lg:text-xl xl:text-2xl font-medium text-secondary dark:text-primary;
}
.post-title-2 {
  @apply text-lg lg:text-2xl xl:text-3xl mb-6 font-medium text-secondary dark:text-primary;
}
.post-info {
  @apply xl:text-xl font-normal flex flex-wrap items-center text-thirteen dark:text-twelve gap-2 mt-10;
}
.post-avatar {
  @apply size-9 rounded-full;
}
.post-content {
  @apply mt-20;
}
.post-content-wrapper {
  @apply mt-10 flex flex-col gap-4;
}
.post-content-wrapper p {
  @apply text-xs lg:text-sm xl:text-base text-secondary dark:text-primary;
}
.post-content-wrapper h1 {
  @apply text-sm lg:text-base md:text-2xl my-6 font-semibold text-secondary dark:text-primary;
}
.post-content-wrapper h2 {
  @apply text-lg md:text-lg mb-2 font-medium text-secondary dark:text-primary;
}
.post-image {
  @apply w-full h-full mx-auto object-cover overflow-hidden rounded-lg max-h-[425px];
}
.post-social-container {
  @apply flex flex-wrap gap-4 my-6;
}
.post-social-icon {
  @apply size-6 text-thirteen dark:text-quaternary;
}
.post-like-container {
  @apply flex items-center gap-2;
}
.post-like-icon {
  @apply size-8 text-secondary dark:text-primary;
}
.post-like-text {
  @apply text-base font-light text-thirteen dark:text-twelve;
}

.swiper {
  @apply w-full h-full;
}
.swiper-slide a {
  @apply flex flex-col md:flex-row gap-6 py-12 px-1;
}
.swiper-slide img {
  @apply block w-full h-full object-cover;
}

.custom-bullet {
  @apply inline-block w-[30px] h-[5px] bg-septenary mx-2 rounded-full dark:bg-fifteen;
}
.custom-bullet-active {
  @apply bg-secondary dark:bg-quinary;
}

/*# sourceMappingURL=style.css.map */
