@import "tailwindcss/base.css";
@import "tailwindcss/components.css";
@import "tailwindcss/utilities.css";
body {
  @apply mx-auto dark:bg-secondary dark:text-primary lg:px-1;
  font-family: "Lexend";
}

@layer utilities {
  .text-xs-12 {
    font-size: 0.75rem;
  }
}
.section-container {
  @apply max-w-8xl mx-auto mb-10 mt-0 lg:mt-16 xl:mt-24 xl:px-0;
}
.section-content {
  @apply max-w-8xl mx-auto px-4 md:px-2;
}
.section-title {
  @apply text-lg text-secondary font-semibold my-4 lg:my-16 md:text-3xl xl:text-4xl  dark:text-primary;
}
.section-title-1 {
  @apply text-lg my-6 lg:my-16 lg:text-3xl xl:text-4xl text-secondary font-semibold dark:text-primary;
}

.logo-text {
  @apply text-sm text-nowrap font-semibold text-secondary lg:text-xl xl:text-2xl dark:text-primary;
}

.btn-view-more {
  @apply m-auto text-sm text-secondary border-2 border-secondary py-2 px-4 rounded-md hover:bg-secondary hover:text-primary dark:text-primary dark:border-primary dark:hover:text-secondary dark:hover:bg-primary;
}

.max-w-8xl {
  max-width: 88rem;
}

header {
  @apply max-w-8xl mx-auto fixed self-start top-0 left-0 right-0 z-50;
}

.navbar-container {
  @apply flex bottom-[calc(100vh-theme(spacing.16))] left-0 right-0 top-0 justify-between py-4 px-2 relative bg-primary dark:bg-secondary;
}
.navbar-logo {
  @apply max-w-[71px] max-h-[30px] lg:max-w-[158px] lg:max-h-[66px] xl:max-w-[180px] xl:max-h-[75px];
}
.navbar-logo img {
  @apply w-full h-full object-cover;
}
.navbar-menu {
  @apply hidden lg:flex items-center gap-8;
}
.navbar-menu-item {
  @apply text-base font-medium;
}
.navbar-menu-button {
  @apply flex gap-2 items-center hover:text-quinary;
}
.navbar-menu-icon {
  @apply h-6 w-6;
}
.navbar-dropdown {
  @apply absolute bg-primary z-30 top-10 w-full rounded-md gap-4 lg:flex lg:w-36 py-2 shadow-lg dark:bg-octonary dark:border-0 dark:shadow-none;
}
.navbar-dropdown-search {
  @apply static bg-primary flex w-full z-30 gap-2 mt-4 rounded-lg lg:absolute lg:w-[264px] lg:right-16 lg:top-12 lg:h-[32px] border-senary border-2 px-1 dark:border-0 dark:bg-octonary;
}
.navbar-dropdown-search-icon {
  @apply size-6 my-auto cursor-pointer text-senary;
}
.navbar-dropdown-search form {
  @apply flex w-full;
}
.navbar-dropdown-search input {
  @apply w-full text-xs text-senary px-2 outline-0 border-none  dark:bg-octonary dark:text-septenary;
}
.navbar-dropdown li {
  @apply hover:text-quinary;
}
.navbar-dropdown a {
  @apply text-xs font-light px-4 pb-2;
}
.navbar-mobile-menu {
  @apply lg:hidden inline-flex items-center justify-center;
}
.navbar-mobile-menu-icon {
  @apply size-6 text-secondary dark:text-primary;
}
.navbar-mobile-menu-top {
  @apply flex mx-2 gap-4;
}
.navbar-mobile-menu-bottom {
  @apply mt-4 mx-2 pb-4 text-secondary;
}
.navbar-mobile-menu-bottom-list {
  @apply flex flex-col gap-4;
}
.navbar-mobile-menu-bottom-toggle {
  @apply flex justify-between;
}
.navbar-mobile-menu-bottom-link {
  @apply text-base font-medium hover:text-quinary dark:text-primary;
}
.navbar-mobile-menu-bottom-submenu {
  @apply flex flex-col gap-2 rounded-md shadow-lg px-4 py-2 border mt-4 dark:text-primary dark:border-0 dark:bg-octonary;
}
.navbar-mobile-menu-bottom-submenu li {
  @apply text-sm font-thin dark:text-primary hover:text-quinary;
}
.navbar-mobile-icon {
  @apply size-4 my-auto md:size-5 text-secondary dark:text-primary;
}

#mobile-menu {
  @apply lg:hidden px-1 bg-primary dark:bg-secondary;
}

footer {
  @apply bg-nonary py-2 mt-10 lg:mt-20 lg:py-4 dark:bg-tertiary;
}

.footer-container {
  @apply max-w-8xl mx-auto my-8 px-4 lg:px-6 xl:px-4;
}
.footer-top {
  @apply flex justify-between items-center;
}
.footer-bottom {
  @apply flex flex-col justify-normal mt-4 md:flex-row md:flex-wrap md:justify-evenly lg:gap-4;
}
.footer-bottom-item div {
  @apply flex justify-between items-center;
}
.footer-bottom-item h3 {
  @apply text-lg xl:text-2xl font-semibold text-secondary dark:text-primary my-1;
}
.footer-bottom-item ul {
  @apply flex flex-col lg:gap-2;
}
.footer-bottom-item li {
  @apply text-base font-thin text-secondary hover:underline dark:text-primary;
}
.footer-logo {
  @apply max-w-[94px] max-h-[40px] lg:max-w-[208px] lg:max-h-[88px] xl:max-w-[270px] xl:max-h-[144px];
}
.footer-logo img {
  @apply w-full h-full object-cover;
}
.footer-social {
  @apply flex gap-4 my-auto;
}
.footer-social-icon {
  @apply size-6 text-secondary dark:text-primary;
}

.banner-image {
  @apply h-[218px] max-h-[218px] md:w-[329px] md:max-w-[329px] lg:w-[429px] lg:max-w-[429px] lg:h-[244px] lg:max-h-[244px] xl:w-[560px] xl:max-w-[560px] xl:h-[317px] xl:max-h-[317px] object-cover shrink-0 rounded-lg;
}
.banner-image img {
  @apply w-full h-full object-cover rounded-lg;
}
.banner-information {
  @apply flex flex-col space-y-6 justify-between py-2 md:space-y-0 lg:py-4;
}
.banner-information p {
  @apply text-lg text-denary dark:text-quaternary;
}
.banner-title {
  @apply text-xl line-clamp-2 leading-normal lg:text-4xl xl:text-5xl font-semibold dark:text-primary;
}
.banner-author {
  @apply dark:underline;
}

.content-container {
  @apply grid grid-cols-1 md:grid-cols-2 gap-4;
}

.card-container {
  @apply grid grid-cols-1 lg:grid-cols-2 gap-4 h-[735px] max-h-[735px] lg:h-[375px] lg:max-h-[375px] xl:h-[485px] xl:max-h-[485px];
}
.card-container-1 {
  @apply grid grid-cols-2 gap-4;
}
.card-container-2 {
  @apply grid grid-cols-1 space-y-2 md:space-y-0 md:grid-cols-3 gap-3 lg:gap-4;
}
.card-container-3 {
  @apply grid grid-cols-1 md:grid-cols-2 gap-10 xl:gap-28;
}
.card-container-4 {
  @apply grid grid-cols-1 md:grid-cols-2 gap-10 h-screen md:h-[250px] md:max-h-[250px] lg:h-[300px] lg:max-h-[300px] xl:h-[350px] xl:max-h-[350px] xl:gap-28;
}
.card-container-5 {
  @apply grid grid-cols-1 lg:grid-cols-3 space-y-4 lg:space-y-0 lg:gap-7 h-[540px] lg:h-[484px] xl:h-[622px];
}
.card-container-6 {
  @apply grid grid-cols-2 lg:grid-cols-1 gap-2 lg:gap-6 xl:gap-7 h-[200px] lg:h-[484px] xl:h-[622px];
}
.card-container-7 {
  @apply grid grid-cols-1 gap-14 lg:grid-cols-2 lg:gap-10 xl:gap-28;
}
.card-container-8 {
  @apply grid grid-cols-1 lg:grid-cols-2 gap-7 h-[1935px] max-h-[1935px] lg:h-[629px] lg:max-h-[629px] xl:max-h-[848px];
}
.card-container-9 {
  @apply space-y-4 xl:space-y-8;
}
.card-container-10 {
  @apply grid grid-cols-1 md:grid-cols-3 gap-4;
}
.card-container-11 {
  @apply grid grid-cols-1 md:grid-cols-2 gap-8;
}
.card-wrapper {
  @apply relative isolate flex flex-col justify-end overflow-hidden rounded-2xl px-8 pb-7 h-auto;
}
.card-wrapper-1 {
  @apply relative isolate flex flex-col justify-end overflow-hidden rounded-2xl px-5 pb-3 h-auto;
}
.card-wrapper-2 {
  @apply rounded-md h-fit p-2 lg:p-4 hover:bg-eleven dark:hover:bg-none;
}
.card-wrapper-3 {
  @apply flex gap-6 px-4 md:justify-center items-center;
}
.card-wrapper-4 {
  @apply relative isolate overflow-hidden rounded-2xl px-5 pb-3 h-auto;
}
.card-wrapper-5 {
  @apply relative isolate flex flex-col justify-end overflow-hidden rounded-2xl px-5 pb-3 h-auto max-h-[160px] lg:h-[227px] lg:max-h-[227px] xl:h-[296px] xl:max-h-[296px];
}
.card-wrapper-6 {
  @apply flex gap-6 lg:justify-center;
}
.card-wrapper-7 {
  @apply flex rounded-md bg-nonary dark:bg-fourteen lg:flex-col max-h-[85px] lg:max-h-[261px] xl:max-h-[350px];
}
.card-wrapper-8 {
  @apply relative isolate flex flex-col justify-end overflow-hidden rounded-2xl px-8 pb-7 h-[358px] lg:h-auto lg:max-h-[484px] xl:h-[622px] xl:max-h-[622px];
}
.card-wrapper-9 {
  @apply relative isolate flex flex-col justify-end overflow-hidden rounded-2xl px-5 pb-3 h-[310px] lg:h-auto lg:max-h-[191px] xl:max-h-[268px];
}
.card-linear {
  @apply absolute inset-0 bg-gradient-to-t from-gray-900 via-gray-900/20;
}
.card-image {
  @apply absolute inset-0 h-full w-full object-cover;
}
.card-image-1 {
  @apply w-full h-full max-h-[230px] md:h-[230px] lg:max-h-[166px] xl:max-h-[216px] object-cover rounded-xl;
}
.card-image-2 {
  @apply w-full h-full max-h-[117px] max-w-[137px] md:h-[114px] md:max-h-[114px] md:max-w-[127px] xl:h-[147px] xl:max-h-[147px] xl:max-w-[166px] object-cover rounded-md;
}
.card-image-3 {
  @apply relative w-full object-cover rounded-xl drop-shadow-md h-[245px] max-h-[245px] md:h-[202px] md:max-h-[202px] lg:h-[282px] lg:max-h-[282px] xl:h-[330px] xl:max-h-[330px];
}
.card-image-4 {
  @apply w-full h-[102px] shrink-0  max-h-[102px] max-w-[123px] lg:h-[92px] lg:max-h-[92px] lg:w-[111px] lg:max-w-[111px] xl:h-[120px] xl:max-h-[120px] xl:w-[162px] xl:max-w-[162px] rounded-xl object-cover;
}
.card-image-5 {
  @apply w-full h-full object-cover overflow-hidden rounded-l-xl max-w-[123px] max-h-[85px] lg:max-w-full lg:rounded-l-none lg:rounded-t-xl lg:max-h-[178px] xl:max-h-[250px];
}
.card-image-shadow {
  @apply absolute object-cover blur-sm scale-105 rounded-xl w-5/6 h-[226px] max-h-[260px] top-6 right-8 md:w-3/4 md:h-[180px] md:max-h-[250px] lg:w-4/5 lg:h-[260px] lg:max-h-[300px] xl:w-5/6 xl:h-[312px] xl:max-h-[350px];
}
.card-content {
  @apply space-y-2 mt-2 lg:mt-6 lg:space-y-5;
}
.card-content-1 {
  @apply relative px-8 inline-block justify-center items-center overflow-hidden;
}
.card-content-2 {
  @apply flex flex-col xl:gap-2;
}
.card-content-3 {
  @apply flex flex-col gap-2 justify-center lg:mt-6 lg:pb-5 px-5;
}
.card-title {
  @apply z-10 text-base lg:text-2xl xl:text-3xl text-primary font-semibold line-clamp-3 hover:underline;
}
.card-title-1 {
  @apply z-10 lg:text-sm xl:text-xl text-primary font-semibold line-clamp-2 hover:underline;
}
.card-title-2 {
  @apply text-base flex-1 lg:text-lg xl:text-2xl text-secondary font-semibold line-clamp-2 hover:underline dark:text-primary;
}
.card-title-3 {
  @apply text-2xl text-secondary font-medium line-clamp-2 hover:underline dark:text-primary;
}
.card-title-4 {
  @apply text-4xl text-secondary font-semibold dark:text-primary;
}
.card-title-5 {
  @apply text-sm flex-1 lg:text-xs-12 xl:text-base line-clamp-2 text-secondary font-semibold dark:text-primary;
}
.card-title-6 {
  @apply text-base lg:text-2xl xl:text-3xl text-secondary font-semibold dark:text-primary hover:underline;
}
.card-title-7 {
  @apply z-10 text-xs line-clamp-2 lg:text-base xl:text-2xl xl:line-clamp-3 text-primary font-semibold hover:underline;
}
.card-description {
  @apply text-sm text-secondary font-normal dark:text-primary line-clamp-2 mt-3;
}
.card-description-1 {
  @apply text-base text-secondary font-normal dark:text-primary;
}
.card-description-2 {
  @apply text-sm font-normal text-secondary line-clamp-2 my-1 dark:text-primary;
}
.card-description-3 {
  @apply text-base text-thirteen font-normal dark:text-twelve;
}
.card-info {
  @apply z-10 flex flex-wrap gap-2 text-sm text-denary dark:text-twelve;
}
.card-info-1 {
  @apply z-10 flex flex-wrap items-center mt-4 gap-2 text-sm text-twelve dark:text-twelve;
}
.card-info-2 {
  @apply flex flex-col justify-between;
}
.card-info-3 {
  @apply z-10 flex flex-wrap items-center gap-2 text-[5px] mt-1 lg:mt-4 lg:text-xs xl:text-sm text-twelve dark:text-twelve;
}
.card-author {
  @apply text-sm font-semibold underline;
}
.card-author-1 {
  @apply font-semibold underline;
}
.card-date {
  @apply text-sm font-normal;
}
.card-date-icon {
  @apply size-4;
}
.card-date-1 {
  @apply flex items-center text-xs-12 gap-2 text-denary dark:text-twelve;
}
.card-date-2 {
  @apply font-normal;
}
.card-avatar {
  @apply size-3 lg:size-5 xl:size-6 rounded-full;
}
.card-social-container {
  @apply grid max-w-md grid-cols-2 gap-4;
}
.card-social-wrapper {
  @apply border py-4 px-2 rounded-xl;
}
.card-social-wrapper a {
  @apply flex items-center gap-4 text-xs-12;
}
.card-social-icon {
  @apply size-10;
}
.card-social-infor {
  @apply flex flex-col gap-1;
}
.card-social-name {
  @apply text-xs-12 font-semibold;
}
.card-social-description {
  @apply text-xs-12 font-light;
}

.breadcrumb-container ol {
  @apply flex flex-wrap mt-16 lg:mt-0;
}
.breadcrumb-container ol li {
  @apply text-secondary text-sm font-normal after:content-[">"] after:mx-2 after:text-secondary after:last:content-none dark:text-primary dark:after:text-primary;
}

.post-container {
  @apply grid grid-cols-1 lg:grid-cols-3 gap-10 mt-10 lg:mt-20 lg:gap-20;
}
.post-wrapper {
  @apply col-span-2;
}
.post-wrapper-1 {
  @apply flex flex-col gap-10 lg:ease-in-out lg:self-start lg:sticky lg:top-28;
}
.post-title {
  @apply text-xl lg:text-3xl xl:text-4xl font-semibold text-secondary dark:text-primary;
}
.post-title-1 {
  @apply text-lg lg:text-xl xl:text-2xl font-medium text-secondary dark:text-primary;
}
.post-title-2 {
  @apply text-lg lg:text-2xl xl:text-3xl mb-6 font-medium text-secondary dark:text-primary;
}
.post-info {
  @apply xl:text-xl font-normal flex flex-wrap items-center text-thirteen dark:text-twelve gap-2 mt-10;
}
.post-avatar {
  @apply size-9 rounded-full;
}
.post-content {
  @apply mt-10 md:mt-12;
}
.post-content-wrapper {
  @apply flex flex-col gap-4 md:mt-2;
}
.post-content-wrapper p {
  @apply text-sm xl:text-base font-normal text-secondary dark:text-primary;
}
.post-content-wrapper h1 {
  @apply text-lg lg:text-2xl my-3 font-semibold text-secondary dark:text-primary;
}
.post-content-wrapper h2 {
  @apply text-base xl:text-lg font-medium text-secondary dark:text-primary;
}
.post-content-wrapper h3 {
  @apply text-base lg:text-lg font-normal text-secondary dark:text-primary;
}
.post-content-wrapper blockquote {
  @apply text-sm lg:text-base italic font-normal text-secondary dark:text-primary border-l-4 py-2 md:py-4 border-quinary bg-twelve rounded pl-4 dark:bg-thirteen;
}
.post-image {
  @apply w-full h-full mx-auto object-cover overflow-hidden rounded-lg max-h-[425px];
}
.post-social-container {
  @apply flex flex-wrap gap-4 my-6;
}
.post-social-icon {
  @apply size-6 text-thirteen dark:text-quaternary;
}
.post-like-container {
  @apply flex items-center gap-2;
}
.post-like-icon {
  @apply size-8 text-secondary dark:text-primary;
}
.post-like-text {
  @apply text-base font-light text-thirteen dark:text-twelve;
}
.post-tag {
  @apply text-sm px-2 py-1 rounded font-normal text-primary bg-senary;
}

.pagination-container {
  @apply z-10 flex flex-col sm:flex-row justify-center sm:justify-between mx-auto mt-8 border border-secondary dark:border-primary p-6 gap-4;
}
.pagination-navigation {
  @apply flex justify-center content-center gap-6 mx-auto;
}
.pagination-button {
  @apply flex items-center justify-center cursor-pointer;
}
.pagination-icon {
  @apply w-6 h-6;
}
.pagination-icon-container {
  @apply flex justify-center my-auto text-secondary;
}
.pagination-input {
  @apply flex justify-center content-center gap-4 text-secondary;
}
.pagination-item {
  @apply rounded-full border w-6 h-6 p-4 flex items-center justify-center cursor-pointer font-medium text-secondary hover:bg-quinary hover:text-primary dark:bg-primary dark:hover:bg-quinary dark:hover:text-primary;
}
.pagination-item-active {
  @apply bg-secondary text-primary dark:bg-senary dark:text-secondary;
}
.pagination-page_input {
  @apply h-6 w-14;
}
.pagination-info {
  @apply my-auto text-secondary hidden sm:block;
}

.error-container {
  @apply flex flex-col items-center justify-center h-fit;
}
.error-message {
  @apply text-4xl font-bold space-y-8;
}
.error-code {
  @apply text-6xl text-center;
}
.error-description {
  @apply text-xl text-center;
}
.error-button-to-home {
  @apply px-4 py-2 mt-4 rounded-lg;
}

.swiper {
  @apply w-full h-full;
}
.swiper-slide a {
  @apply flex flex-col gap-6 pb-6 px-1 mt-20 lg:mt-4 xl:mt-6 md:pb-12 md:pt-0 md:flex-row;
}
.swiper-slide img {
  @apply block w-full h-full object-cover;
}
.swiper-pagination {
  @apply flex justify-items-start items-center md:justify-center;
}

.custom-bullet {
  @apply inline-block w-[17px] h-[4px] mx-1 bg-septenary rounded-full md:mx-2 md:w-[30px] md:h-[5px] dark:bg-fifteen;
}
.custom-bullet-active {
  @apply bg-secondary dark:bg-quinary;
}

/*# sourceMappingURL=style.css.map */
